body {
  font-family: "Calibri",Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;  
}

*{
  box-sizing: border-box;
    outline:0 !important;
      margin: 0;
  padding: 0;
}
.container{
    width:90%;
  margin: 0 5%;
}

#mtList li {
            background-color: #fff;
            padding: 10px;
            width: auto;
            float: left;
            margin: 5px 0;
            clear: both;
            list-style: none;
            border-radius:25px;
            border:1px solid #ccc;
}
.sideBars{
transition: 100ms;
}
.msgRight{
  float: right !important;
  border-radius: 25px 0 0 25px !important;
}
.msgleft{
  float: left !important;
   border-radius: 0 25px 25px 0 !important;
}


#mt::-webkit-scrollbar {
    width: 8px;
}
 
#mt::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.3);
}
 
#mt::-webkit-scrollbar-thumb {
  background-color :#787878;
  outline: 1px solid #000;
}   




@media screen and (max-width: 500x) {
body{
  margin: 50px, 0, 0, 0;
}

}